html, body {
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
}

.score {
	font-family: "Pong Score", serif;
}

.monoton {
	font-family: "Monoton", serif;
}

.righteous {
	font-family: "Righteous", serif;
}


.pix {
	font-family: "Press Start 2P", serif;
}

.heading {
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 6.5vw;
	width: 100%;
	text-align: center;
}

.subheading {
	color: white;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	text-align: center;
	justify-content: flex-start;
}

.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.old-button {
	display: flex;
	flex-direction: column;
	font-family: "Righteous", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: white;
	/*border: 2px solid black;*/
	transform: translateY(150%);
	padding: 8px 20px;
	box-shadow: 4px 4px 15px white; /* 3rd value is spread of colour- makes glowing effect */
	transition-property: transform, box-shadow, outline-offset;
	transition: 100ms ease-in;

	top: calc(50% + 32vmin); /* based on the height of images */
	left: 50%;
	align-items: center;
	z-index: 2;
}

.old-button a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
	text-decoration: none;
	color: black;
}

.old-button a img {
	width: 50px;
}
.old-button:hover {
	box-shadow: 2px 2px 10px white;
	/*transform: scale(0.99);*/
	cursor: pointer;
}

.old-button:focus-visible {
	outline-offset: 12px;
	outline: 2px dotted #2f2e2a;
}
