fieldset{
	width: 263px;
	border-radius: 5px;
    border: 3px solid white;
}

form{
	display: flex;
	flex-direction: column;
	margin: 20px;
	gap: 10px;
	font-size: 24px;;
}

form div{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#downloadButton{
	margin-left: 10px;
}

#downloadButton:hover{
	cursor: pointer;
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  white !important;
    border-left-color: white !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
